<div class="row">
  <div class="span6 offset3">
<h1>Pasword change</h1>

    <%= form_for(@user) do |f| %>
       <%= f.label :password %><br/>
        <%= f.password_field :password %><br/>

        <%= f.label :password_confirmation, "Confirmation" %><br/>
        <%= f.password_field :password_confirmation %><br/>

      <%= f.submit "Send", class: "btn btn-large btn-primary" %><br/>
    <% end %>
  </div>