 <% if current_user.admin? %>
    <h2>Tickets</h2>
    <% @root_tickets.reverse_each do |t|%>
                <p>From <%= @name = User.find_by_id(t.user_id).name %></p>
                <em><%= t.content %></em><br/>
                    <%if t.answer.blank? %> <%= link_to "answer", edit_ticket_path(t) %><%end%>            
                <%if !t.answer.blank? %>admin answer: <i><%=t.answer%></i><%end%></br>                             
            <div class = "sub">
                <% @list_items.each do |subt|%>
                    <% if subt.is_subticket == true && subt.overticket_id == t.id%>
                    <%= @name %>: <i><%= subt.content%></i>
                    <%= link_to "answer", edit_ticket_path(subt) %></br>
                     <%if !subt.answer.blank? %> admin: <%= subt.answer%> </br> <%end%>            
                    
                    <%end%>        
                <%end%>
            </div>
            <hr/>
    <%end%>
 <% else %>


    <h2>MyTickets</h2>
    <% @root_tickets.each_with_index do |t, index|%>
            <p><%= index+1 %>. <%= t.content %>.<br/> 
            </p>
            <%if !t.answer.blank? %>admin answer: <%=t.answer%><%end%></br>         
            <div class = "sub">
                <% @list_items.each do |subt|%>
                    <% if subt.is_subticket == true && subt.overticket_id == t.id%>
                    me: <%= subt.content%></br>
                       <%if !subt.answer.blank? %> admin: <%= subt.answer%> </br> <%end%>            
                    <%end%>        
                <%end%>
               <%= link_to "write", answer_path(id: t.id) %>  
                </div>
                <hr/>
                
    <%end%>
        
<% end %>