
  <div class="row">
  <div class="span6 offset3">
<h1>Ticket</h1>
    <%=%>
    <%= form_for(@ticket) do |f| %>
      <%= f.label :content %><br/>
      <%= f.text_field :content, placeholder: "Compose a  ticket" %><br/>

      <%= f.submit "Send", class: "btn btn-large btn-primary" %><br/>
    <% end %>
  </div>