 <header class="navbar  navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <h1 id = "title">Sample App</h1>
          <nav>
            <ul class="nav navbar-nav pull-right">
            <% if signed_in? %>
                <li>
                    <%= link_to @current_user.name ,   room_path %>
                     <% if current_user.admin? %>
                     <h6 style = "color: white;">ADMIN</h6>
                     <% end %>
                </li>
                
                <% if !current_user.admin?%>
                    <li><%= link_to "Send ticket", new_ticket_path %></li>  
                <%end%>

                <li><%= link_to "Change Password",  change_password_path(current_user.id) %></li>
                <li><%= link_to "Sign Out", signout_path,  method: "delete" %></li>    

            <% else %>
                <li><%= link_to "Sign in", signin_path %></li>                
            <% end %>   
            </ul>
          </nav>
        </div>
      </div>
    </header>